/* Global ------------------------------------ */
:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --dark-blue-main: hsl(217, 54%, 11%);
    --dark-blue-card: hsl(216, 50%, 16%);
    --dark-blue-line: hsl(215, 32%, 27%);
    --background-desktop: rgb(13, 26, 45);
    --second-background-card: rgb(12, 25, 44);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-desktop);
    font-family: 'Cabin', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

main {
    background: var(--second-background-card);
    box-sizing: initial;
    padding: 50px 45px 25px 45px;
    width: 400px;
    border-radius: 65px;
    margin: 0 auto;
}

p {
    color: var(--soft-blue);
    font-weight: 100;
}

/* Card ------------------------------------ */
div.card-background {
    background: var(--dark-blue-main);
    padding: 35px 0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

div.card {
    background: var(--dark-blue-card);
    width: 365px;
    border-radius: 16px;
    margin-top: -60px;
    padding: 25px;
}

/* NFT image ------------------------------------ */
.nft-img {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
}

.nft-img-cripto {
    width: 100%;
}

.nft-img .icon-view-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cyan);
    opacity: 0;
    transition: 0.3s ease;
    background: rgba(0, 255, 247, 0.5);
}

.nft-img:hover .icon-view-overlay {
    opacity: 1;
    cursor: pointer;
}

/* NFT description ------------------------------------ */
.nft-description {
    padding: 25px 0 15px;
    border-bottom: 1px solid var(--dark-blue-line);
}

.nft-description h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 22px;
    transition: 0.2s ease;
}

.nft-description .nft-data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0px;
}

.nft-amount, .nft-time {
    display: flex;
}

.nft-amount img, .nft-time img {
    margin-right: 8px;
}

.nft-amount {
    color: var(--cyan);
}

.nft-time {
    color: var(--soft-blue);
}
/* NFT footer ------------------------------------ */
.card-footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-weight: bold;
}

.card-footer span {
    color: #fff;
    transition: 0.2s ease;
}

.card-footer img {
    width: 32px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 16px;
}

.nft-description h3:hover, .card-footer span:hover {
    color: var(--cyan);
    cursor: pointer;
}

/* Media Queries ------------------------------------ */
@media (max-width: 375px) {
    main {
        padding: 45px 7px 20px 7px;
        border-radius: 0;
    }

    div.card {
        margin-top: 0;
    }
}